<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--SDK url with rest of your scripts-->
    
    <!-- Sandbox -->
    <script src="https://paypage-uat.ngenius-payments.com/hosted-sessions/sdk.js"></script>
    <!-- Prod -->
    <!-- <script src="https://paypage.ngenius-payments.com/hosted-sessions/sdk.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  </head>
  <body>
    <script>
      let sessionId;
      async function createSession() {
        try {
          const response = await window.NI.generateSessionId();
          sessionId = response.session_id;
          console.log(sessionId);
        } catch (err) {
          console.error(err);
        }
      }
      </script>
    <!--Your website code goes here-->
    <div>
      <div id="mount-id"></div>
      <button onclick="createSession()" class="checkoutButton">
              Check out
      </button>
</div>
  </body>
  <script>
    /* Method call to mount the card input on your website */
    "use strict";

    function onSuccess(a){
      console.log(a);
      console.log("onSuccess")
    }
    function onFail(a){
      console.log(a);
      console.log("onFail")
    }

    $(document).ready(function(){
      window.NI.mountCardInput('mount-id'
    /* the mount id*/
    , {
      style: '',
      // Style configuration you can pass to customize the UI
      apiKey: "<%=hostedSessionId%>",
      // API Key for WEB SDK from the portal
      outletRef: "<%=outlet%>",
      // outlet reference from the portal
      onSuccess: onSuccess,
      // Success callback if apiKey validation succeeds
      onFail: onFail, // Fail callback if apiKey validation fails
      onChangeValidStatus: (function (_ref) {
            var isCVVValid = _ref.isCVVValid,
        isExpiryValid = _ref.isExpiryValid,
        isNameValid = _ref.isNameValid,
        isPanValid = _ref.isPanValid;
            console.log(isCVVValid, isExpiryValid, isNameValid, isPanValid);
            })
    });

    });

   
  </script>
</html>